extends ../includes/admin_layout
block rightSidebar
  h1= title
  h2= subTitle
  h3.alert.alert-success= extraMessage
  p This form will insert data into wedding's database
  
  form(action=actionURL,method="post")
    .form-group 
      label KEY
                    .radio-inline
                      label USER
                      input#key.form-control(type="radio", name="key", value="user")
                      
                      label PROVIDER
                      input#key.form-control(type="radio", name="key", value="providers",checked="")
    .form-group 
      label(for="f_name") First name
      input#f_name.form-control(type="text", name="f_name",value="#{usersDetails.f_name}")
      input.form-control(type="hidden", name="objectID",value="#{usersDetails._id}")
    .form-group 
      label(for="l_name") Last name
      input#l_name.form-control(type="text", name="l_name",value="#{usersDetails.l_name}")
    .form-group 
      label(for="username") Username
      input#username.form-control(type="text", name="username",value="#{usersDetails.username}")
    .form-group 
      label(for="password") Password
      input#password.form-control(type="password", name="password",value="#{usersDetails.password}")
    .form-group 
      label(for="dob") Date Of Birth
      input#dob.form-control(name="dob", type="date",value="#{usersDetails.dob}")
    .form-group 
      label(for="gender") Gender
      input#gender.form-control(name="gender", type="text",value="#{usersDetails.gender}")
    .form-group 
      label(for="email") Email
      input#email.form-control(name="email", type="email",value="#{usersDetails.email}")
    .form-group 
      label(for="category") Category
       select#category.form-control(name="category") 
        option(value=' #{usersDetails.category}')  #{usersDetails.category}
        |                       
        option(value='Caterers') Cateres
        |                       
        option(value='Photographers') Photographers
        |  
        option(value='Make-Up') Make-Up Artist
        |                       
        option(value='Choreographer') Choreographers
        |                       
        option(value='Designer') Wedding Dresses
        |                       
        option(value='Music') Music
        |                       
        option(value='Themes') Themes &amp; Decors
        |                       
        option(value='Honeymoon-Planning') Honeymoon Planners
        |                       
        option(value='Mehandi') Mehandi

    .form-group
                    label Description
                    textarea#description.form-control(rows="3",name="description") #{usersDetails.description}
    .form-group 
      label(for="phone") Phone No.
      input#phone.form-control(name="phone", type="number",value="#{usersDetails.phone}")
        |                       
    .form-group 
      label(for="experience") Experience
      select#experience.form-control(name="experience") 
        option(value='#{usersDetails.experience}')  #{usersDetails.experience}
        |  
        option(value='1-2years') 0-2 Years
        |                       
        option(value='2-5years') 2-5 Years
        |                       
        option(value='5+years') 5+ Years
        |                       
        option(value='begginer') Begginer
    .form-group 
      label(for="auth") Authentication
      select#auth.form-control(name="auth")
        option(value='#{usersDetails.auth}')  #{usersDetails.auth}
        option(value='true') TRUE
        |  
        option(value='false') FALSE

    .form-group 
      input#submit.form-control(type="submit", value="Update User")


       