extends ../includes/admin_layout
block rightSidebar
  h1= title
  h2= subTitle
  h3.alert.alert-success= extraMessage
  p This page is fetching values from wedding database
  table.table.table-bordered.table-hover(border="1")
    tr
        th Category
        th Idea Image 
        th Actions
    each user in users
        tr
            td= user.category
            td= user.product_img
            
            td
                a.deleteLink.text-danger(href="#{siteConfig.base_url}products/delete?objectID=#{user._id}")
                    i.far.fa-trash-alt
                &nbsp;    
                a.deleteLink.text-success(href="#{siteConfig.base_url}products/updateUser?objectID=#{user._id}")
                    i.far.fa-edit